body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
  }

.header,
.section1,
.section2,
.section3,
.section4,
.footer {
    padding: 0 20%;
}

a {
    text-decoration: none;
    color: #F9FaF8;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
    font-weight: bold;
}

.headerlinks {
    display: flex;
    gap: 30px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
}

.titleleft,
.titleright {
    height: auto;
}

.titleleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 40%;
}

.titleright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.imgplaceholder {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

.maintitle {
    font-size: 48px;
    font-weight: 800;
    color: #F9FaF8;
}

.bottomtext {
    font-size: 18px;
    color: #E5E7EB;
}

.infotitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.illplaceholder {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    font-size: 14px;
    gap: 5px;
}

.infolist {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    padding-bottom: 50px;
    gap: 40px;
}

.section3 {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    text-align: start;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: end;
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
}

.section4 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 2% 20%;
    padding: 30px 60px;
    border-radius: 6px;
}

.signupbot {
    border: 2px solid;
}

.toptext {
    font-size: 18px;
    font-weight: bold;
    color: #F9FaF8;
}

.bottext {
    font-size: 14px;
    color: #F9FaF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FaF8;
    text-align: center;
    padding: 25px;
}